<% provide( :title, "Admin Login")%>
<%= render "partials/admin_navbar" %>
  <!--start l-contents-->
  <div class="l-container u-clear">

      <!--start l-main-->
      <main class="l-main js-main">
          <div class="l-main-block"></div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f| %>
              
              <label for="user-id" class="form-title">USER ID</label>
              <input type="text" id="user-id" name="admin[userId]" class="input input-text">

              <label for="password" class="form-title">PASSWORD</label>
              <input type="password" id="password" name="admin[password]" class="input input-text">
              <label for="submit" class="form-button">
                  <div class="button">
                    <p class="button-text">Login</p>
                </div>
              </label>
                  <input type="submit" id="submit" class="input input-submit"> 
          <% end %> 
      </main>
      <!--end l-main-->

  </div> 